{:hara/type :project
 :hara/version "1.0.0"
 :project/id package/split-example
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths []
 :project/main package.split.main
 :project/capabilities #{}
 :project/dependencies
 {"hara:hara/lang.core" {:version "=0.1.16"}
  "hara:hara/code.test" {:version "=0.1.16"}}}
