{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara/values-echo
 :project/version "0.1.0"
 :project/source-paths []
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/extensions
 {values.echo
  {:identity "hara/values-echo"
   :provider :wasm
   :module "values-echo.component.wasm"
   :abi :component.v1
   :world "echo"
   :wit {:package "hara:values-echo@0.1.0"
         :source "wit/echo.wit"
         :sha256 "ed4f314cc6118ddc81bc211e9fdd8237b9bd054d8ff6fd46cb90ec315f21b2a1"
         :dependencies [{:package "hara:values@0.1.0"
                         :source "wit/deps/hara-values/values.wit"
                         :sha256 "bbe51ec4a86cda97248ed22d073b846b34740362399c0a872bf8703bb4946b0e"}]}
   :imports ["hara:values/values@0.1.0"]
   :exports {"echo" {:wasm/export "hara:values-echo/value-echo@0.1.0#echo" :args [:value] :returns :value}}
   :capabilities []}}}
