{:authority/revision "fe54cc866473a888bfbd4ce2d3de6d8011f09f72",
 :stage/root
 "/Users/zcaudate/Development/greenways/workspace/technology/hara/target/lang-pinned-five-8395edac-0ced-448c-b8aa-dd13c744490d",
 :targets
 [{:target/id :migration/lang-base-preprocess-base,
   :verification/status :passed,
   :native/counts
   {:files 1,
    :passed 13,
    :failed 0,
    :error 0,
    :timeout 0,
    :skipped 0,
    :cancelled 0},
   :source/checksum
   "b460cbc4acb1eb8020c03d52463a3e638881b8b9cddf4714c5d2b5cb3df6b5f6",
   :test/checksum
   "2842f69794bba1f9b63c8933b863acb3a4c07cc90f4b50f252564027ecafcc7a",
   :regeneration/source-exact true,
   :regeneration/test-exact true}
  {:target/id :migration/lang-base-emit-template,
   :verification/status :passed,
   :native/counts
   {:files 1,
    :passed 18,
    :failed 0,
    :error 0,
    :timeout 0,
    :skipped 0,
    :cancelled 0},
   :source/checksum
   "4104b02131e1ee2477c63a9e7ff2b7704669f36e56f9718669e64b97af1c66e0",
   :test/checksum
   "0ec8b7afc9d33b29cf1ef5abcb2db56408d51c586a013cdd8e18cd04477ff867",
   :regeneration/source-exact true,
   :regeneration/test-exact true}
  {:target/id :migration/lang-core-rewrite-common,
   :verification/status :passed,
   :native/counts
   {:files 1,
    :passed 6,
    :failed 0,
    :error 0,
    :timeout 0,
    :skipped 0,
    :cancelled 0},
   :source/checksum
   "41fef4c36402d78ad49e84daeb440cda612e791548542b5744c976674d84cb3b",
   :test/checksum
   "e9d3f17b2cfd07cf6c7ac1cf9c617b75161733726fa5d756e973a581cc3c32f3",
   :regeneration/source-exact true,
   :regeneration/test-exact true}
  {:target/id :migration/lang-core-rewrite-destructure,
   :verification/status :passed,
   :native/counts
   {:files 1,
    :passed 4,
    :failed 0,
    :error 0,
    :timeout 0,
    :skipped 0,
    :cancelled 0},
   :source/checksum
   "7b234a7811f233218ed4da56362a211a29b8a0e2e0429db6972f5f86801f05fd",
   :test/checksum
   "fa2a084f4b825689f9ff32e7b3327802aae65d55001c5266e2f26d986d13827c",
   :regeneration/source-exact true,
   :regeneration/test-exact true}
  {:target/id :migration/lang-base-provenance,
   :verification/status :passed,
   :native/counts
   {:files 1,
    :passed 25,
    :failed 0,
    :error 0,
    :timeout 0,
    :skipped 0,
    :cancelled 0},
   :source/checksum
   "d0b5ce694ae54e10e2a9d0bdb538ab6e28b63ccf940cf546df71fd16294f3b86",
   :test/checksum
   "de72a537f460e0e769d4701c5515fd74822fd7984416db4abf26ddad211ef3b1",
   :regeneration/source-exact true,
   :regeneration/test-exact true}]}
