{:format "code.manage.test-doc/2" :test-path "std/foundation/bytes_test.hal" :namespace std.foundation.bytes-test :namespace-form "(ns std.foundation.bytes-test\n  (:use code.test))" :support-forms [] :facts [{:checked true :title "get returns signed byte value as unsigned" :source "(fact \"get returns signed byte value as unsigned\"\n     (bytes/get (bytes -1) 0)\n     => 255)" :meta {} :refer-source :unresolved :nested true :original-refer false :refer nil :refer-candidates [] :order 67 :results true}] :noncanonical 1 :unresolved 1}
