{:report/version 1 :results [] :summary {:facts 0 :files 0 :throw 0 :status :passed :counts {:cancelled 0 :failed 0 :timeout 0 :passed 0 :skipped 0 :error 0} :failed 0 :checks 0 :timeout 0 :passed 0 :check-counts {:failed 0 :total 0 :passed 0}} :report/type :code.test/report}