{:hara/type :project
 :hara/version "1.0.0"
 :project/id examples/cluster
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/dependencies {}}
