{:hara/type :project
 :hara/version "1.0.0"
 :project/id examples/answer-42
 :project/version "0.1.0"
 :project/source-paths []
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/extensions
 {demo.000-answer-42
  {:provider :wasm :module "answer-42.wasm" :abi :core.v1
   :exports {"version" {:args [] :returns :i32}
             "add" {:args [:i32 :i32] :returns :i32}}
   :capabilities []}}}
