{:hara/type :project
 :hara/version "1.0.0"
 :project/id examples/hara-runtime-wasm
 :project/version "0.1.0"
 :project/source-paths []
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/extensions
 {tool.runtime.wasm
  {:provider :wasm :module "hara.wasm" :abi :core.v1
   :exports {"eval" {:args [:value] :returns :value :async true}}
   :host-calls {"crypto.hash.sha256" ["digest"]}
   :capabilities []}}}
