{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara/docs-markdown
 :project/version "0.1.0"
 :project/source-paths []
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :project/extensions
 {docs.markdown
  {:identity "hara/docs-markdown"
   :provider :wasm
   :module "markdown.component.wasm"
   :abi :component.v1
   :world "markdown"
   :wit {:package "hara:markdown@0.1.0"
         :source "wit/markdown.wit"
         :sha256 "01c2b2bbe129034e170c8985faf82ffa8f91c306ea658667a6c5625fae1d132c"}
   :imports []
   :exports {"render" {:args [:string] :returns :string}}
   :capabilities []}}}
